@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000035}}
.caja-responsive {
  background-color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\0000330}}
html {
  font-size: 13px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\0000334}}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2A2A33; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\0000339}}
h1,
a:hover {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\0000343}}
.bg-secundary {
  background-color: #1B5098; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\0000346}}
.bg-contenedor {
  background-color: #F9F9FB; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\0000351}}
.text-primary {
  color: #006AFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\0000355}}
.text-secundary {
  color: #1B5098; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\0000360}}
.shadow-soft {
  -webkit-box-shadow: 0 0.25rem 1.875rem rgba(42, 53, 79, 0.05) !important;
          box-shadow: 0 0.25rem 1.875rem rgba(42, 53, 79, 0.05) !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\0000365}}
.btn {
  padding: .6rem 1rem;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\0000369}}
.btn-primary {
  color: #fff;
  background-color: #006AFF;
  border-color: #006AFF;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\0000379}}
.btn-danger {
  color: #fff;
  background-color: #f70808;
  border-color: #f70808;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\0000390}}
.btn-primary::before,
.btn-danger::before {
  content: "";
  z-index: -1;
  width: 0;
  height: 100%;
  background: #006AFF;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: skew(45deg, 0);
          transform: skew(45deg, 0);
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003104}}
.btn-danger::before {
  background: #f70808; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003109}}
.btn-primary:hover {
  background-color: #95cff0 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003113}}
.btn-danger:hover {
  background-color: white !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003117}}
.btn-primary:hover::before {
  width: 150%;
  left: -30%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003122}}
.btn-danger:hover::before {
  width: 150%;
  left: -30%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003128}}
.btn-primary:active {
  background-color: #006AFF !important;
  border-color: #006AFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003132}}
.btn-danger:active {
  background-color: #f70808 !important;
  border-color: #f70808; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003137}}
.btn-primary:focus {
  color: #fff;
  background-color: #006AFF;
  border-color: #006AFF;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003144}}
.btn-danger:focus {
  color: #fff;
  background-color: #f70808;
  border-color: #f70808;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003157}}
.logo {
  font-family: 'Courgette', cursive; }

/*Estilos boton menu personalizado*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003168}}
#nav-main .icon-menu:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f0c9";
  font-weight: 900;
  color: #fff;
  font-size: 2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003176}}
#nav-main .icon-close:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f00d";
  position: relative;
  font-weight: 900;
  color: #fff;
  left: .2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003186}}
#nav-main button.navbar-toogler {
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: #1B5098;
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003196}}
#nav-main button.navbar-toogler:hover,
#nav-main button.navbar-toogler:visited,
#nav-main button.navbar-toogler:focus {
  border: #1B5098;
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003205}}
#nav-main .btn-menu::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f00d';
  font-weight: 900;
  font-size: 2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003212}}
#nav-main .navbar-nav .nav-link {
  color: #d6d3d3;
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: .5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003221}}
#nav-main .navbar-nav .nav-link::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f105';
  font-weight: 900;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003228}}
#nav-main .navbar-nav .nav-link:hover {
  color: white;
  background-color: #95cff0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003233}}
#nav-main .navbar-nav .nav-link:hover::after {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003237}}
#nav-main .navbar-nav .nav-link.active {
  color: white;
  background-color: #006AFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003248}}
.parallax-efect {
  width: 100%;
  height: 100vh;
  background-image: url("../images/parallax_inicio.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003263}}
.oscurecer {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  z-index: 5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003271}}
.oscurecer::before,
.parallax-efect::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 3, 5, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003286}}
.box-search {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 30px;
  padding-bottom: 15px;
  margin-top: -9px;
  border-radius: 3px; }

/* Search Type Buttons*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003299}}
.type-searchs {
  display: inline-block;
  padding-bottom: 35px;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003305}}
.type-searchs input[type="radio"] {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003307}}
.type-searchs label {
  background-color: #006AFF;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 9px 18px;
  margin: 0 15px 0 0;
  float: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003320}}
.type-searchs label:hover {
  background-color: #95cff0;
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003324}}
.type-searchs label.active {
  background-color: white;
  color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003330}}
.search-figure {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003342}}
.custom-select {
  height: 3.5rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='blue' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003348}}
div.more-options:before {
  position: absolute;
  top: -10px;
  width: 94%;
  content: "";
  background-color: #fff;
  height: 10px;
  display: inline-block;
  z-index: 101; }

/* Trigger */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003360}}
.more-less-trigger {
  font-size: 18px;
  margin: 5px 0 2px 0;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003366}}
.more-less-trigger:after {
  content: attr(data-open-title); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003367}}
.more-less-trigger.active:after {
  content: attr(data-close-title); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003369}}
.more-less-trigger:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f884";
  font-weight: 900;
  padding-right: 7px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003376}}
.more-less-trigger.active:before {
  content: ""; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003378}}
.widget .more-less-trigger {
  font-size: 16px; }

/* More Options
------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003383}}
.more-options {
  opacity: 0;
  visibility: hidden;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 30px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  z-index: 19;
  -webkit-transform: translate3d(0, -20px, 0);
          transform: translate3d(0, -20px, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003397}}
.more-options.relative {
  position: relative;
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: none;
  transition: none;
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003410}}
.more-options.relative.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003412}}
.more-options.relative .more-options-container {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  margin: 20px 0 5px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003418}}
.more-options:before {
  position: absolute;
  top: -10px;
  width: 100%;
  content: "";
  background-color: #fff;
  height: 10px;
  display: inline-block;
  z-index: 101; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003429}}
.more-options.relative:before {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003431}}
.more-options.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003438}}
.more-options-container {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  padding: 30px 30px 25px 30px;
  padding-top: 0;
  border-radius: 0 0 3px 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003455}}
#favoritos .icon-left:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f105";
  font-weight: 900;
  color: #006AFF;
  font-size: 3rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003463}}
#favoritos .icon-down:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f107";
  position: relative;
  font-weight: 900;
  font-size: 3rem;
  color: #006AFF;
  left: .2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003475}}
.top-site-outer {
  padding: 0 16px;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003480}}
.top-site-outer .top-site-inner {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003484}}
.top-site-outer .top-site-inner > a {
  color: inherit;
  display: block;
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003491}}
.top-site-outer .tile {
  cursor: pointer;
  height: 96px;
  position: relative;
  width: 96px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003498}}
.top-site-outer .screenshot {
  background-position: top left;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 1;
  position: relative;
  top: 0;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003510}}
.top-site-outer .title {
  background-color: White;
  color: red;
  font: message-box;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 96px;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003521}}
.btn-remove {
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003531}}
.box-label {
  position: absolute;
  top: 0;
  z-index: 999;
  right: 0;
  width: 100%;
  display: block;
  font-size: 13px;
  padding: 0px;
  overflow: hidden;
  height: 100px;
  z-index: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003545}}
.label-sale {
  background-color: rgba(239, 15, 24, 0.85);
  color: #fff;
  float: left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -67px;
  top: 17px;
  position: relative;
  text-align: center;
  width: 200px;
  font-size: 12.5px;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003561}}
.thre-points,
.see-more {
  position: absolute;
  left: 85%;
  top: 5%;
  background-color: transparent;
  border: 0px;
  color: #006AFF;
  padding: 0 3px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003575}}
.see-more {
  left: 85%;
  top: 55%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003579}}
.see-more:hover {
  color: #1B5098; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003583}}
#destacados .card-body {
  border-bottom: 1px solid #006AFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003586}}
.owl-prev,
.owl-next {
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003591}}
#destacados .card-body a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003595}}
#destacados .thre-points:hover,
#destacados .thre-points::-moz-selection {
  color: #1B5098 !important; }
#destacados .thre-points:hover,
#destacados .thre-points::selection {
  color: #1B5098 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003602}}
#destacados p:hover {
  color: black !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003607}}
#destacados span.text-muted:hover {
  color: black !important;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003614}}
#destacados .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: 0;
  border-right: 0 transparent;
  border-bottom: 0;
  border-left: 0 solid transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003625}}
#destacados .dropdown-toggle {
  left: 85%;
  top: 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003631}}
#destacados .dropdown-menu {
  background-color: #1B5098; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003635}}
#destacados .dropdown-item {
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003640}}
#destacados .dropdown-item:hover {
  background-color: #95cff0;
  border-radius: .5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003650}}
.box-service {
  height: 15rem;
  border-bottom: 1px solid #006AFF;
  border-right: 1px solid #006AFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003656}}
#servicios div a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003663}}
#grid-prop-agent .card-box {
  border-top: 2px solid #006AFF;
  border-bottom: 0;
  border-left: 0;
  border-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003670}}
#card-pro-agent .card-body {
  border: 1px solid white !important;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003675}}
.parent {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003682}}
.parent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003693}}
.child {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003700}}
.child span {
  color: white;
  font-family: sans-serif;
  padding-left: 0;
  padding-top: 0;
  position: absolute; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003708}}
.parent:hover .child,
.parent:focus .child {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1000; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003715}}
.parent:hover span,
.parent:focus span {
  padding-top: 40%;
  padding-left: 20%;
  font-size: 1.5rem;
  z-index: 10; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003723}}
.child::before {
  content: "";
  z-index: 5;
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(42, 65, 94, 0.5); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003735}}
.parent:hover .child:before,
.parent:focus .child:before {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003745}}
#articulos .card-footer {
  border-top: 1px solid #006AFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003753}}
.columna-inclinada::before {
  content: "";
  position: absolute;
  background: #006AFF;
  top: 0;
  bottom: 0;
  left: -100%;
  right: -100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003763}}
.enlaces-secundario {
  border-bottom: 2px solid #006AFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003767}}
.enlaces-secundario a {
  padding: 1rem;
  color: black;
  text-decoration: none;
  display: block; }

/*Estilos para IE11*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003776}}
.ie11 .navbar-dark .navbar-nav .nav-link::after {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003787}}
.modal-content {
  background-color: #1B5098;
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003795}}
#logueo .icon-eye:before,
#register-auth .icon-eye:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f06e";
  font-weight: 900;
  color: #fff;
  font-size: 1rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003804}}
#logueo .icon-eye-slash:before,
#register-auth .icon-eye-slash:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f070";
  position: relative;
  font-weight: 900;
  color: #fff;
  font-size: 1rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003820}}
.contenedor-grid,
.contenedor-list,
.contenedor-buscar,
.contenedor-comparar {
  position: fixed;
  top: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  height: 100vh;
  background-color: #666565;
  right: -450px;
  width: 450px;
  padding: 0;
  z-index: 1010;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003836}}
.box-buscar,
.box-comparar {
  overflow-y: scroll;
  height: 100%;
  width: 470px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003843}}
.contenedor-buscar.active,
.contenedor-comparar.active {
  right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003850}}
.btn-grid,
.btn-list,
.btn-buscar,
.btn-comparar {
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  left: -3rem;
  background-color: transparent;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003862}}
.btn-list {
  top: 20%;
  left: -2.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003867}}
.btn-grid {
  top: 40%;
  left: -2.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003873}}
.btn-buscar {
  left: -2.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003876}}
.btn-comparar {
  top: 80%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003881}}
.btn-grid:before {
  content: "\f00a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  color: #006AFF;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003891}}
.btn-list:before {
  content: "\f0ca";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  color: #006AFF;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003903}}
.btn-buscar:before {
  content: "\f00e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
  color: #006AFF;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003912}}
.btn-comparar:before {
  content: "\f516";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
  color: #006AFF;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003921}}
.contenedor-buscar.active .btn-buscar:before,
.contenedor-comparar.active .btn-comparar:before {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003927}}
.close-sidebar {
  cursor: pointer;
  font-size: 24px;
  right: auto;
  height: auto;
  background-color: transparent;
  color: #fff;
  z-index: 100;
  padding: 0;
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003942}}
.close-sidebar:before {
  content: "\f00d";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003951}}
.caja-buscar,
.caja-comparar {
  padding: 30px;
  padding-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003957}}
.bg-sidebar {
  background-color: #666565; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003966}}
.property-th .card {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003970}}
.property-th div .c-img img {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003974}}
.property-th div .c-body {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003982}}
.property-th-list .card {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003986}}
.property-th-list div.c-img.col-12 {
  max-width: 33.333333% !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003990}}
.property-th-list div.c-body.col-12 {
  max-width: 66.666666% !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003994}}
.property-th-list img {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\00003998}}
.property-th-list .card-body,
.property-th-list .c-body {
  width: 100%; }

/*the container must be positioned relative:*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031009}}
.personal-select {
  position: relative;
  font-family: Arial; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031015}}
.personal-select select {
  display: none;
  /*hide original SELECT element:*/ }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031020}}
.select-selected {
  background-color: #006AFF; }

/*style the arrow inside the select element:*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031025}}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 18px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

/*point the arrow upwards when the select box is open (active):*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031038}}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px; }

/*style the items (options), including the selected item:*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031045}}
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/*style items (options):*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031056}}
.select-items {
  position: absolute;
  background-color: #1B5098;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

/*hide the items when the select box is closed:*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031067}}
.select-hide {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031071}}
.select-items div:hover, .same-as-selected {
  background-color: #95cff0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031090}}
#slider-swiper .container {
  height: 100%;
  background: black;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031096}}
.swiper-container {
  width: 100%;
  height: 400px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031102}}
.swiper-container-thumb {
  width: 100%;
  height: 100px;
  overflow-x: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031109}}
.swiper-slide {
  background-size: cover;
  background-position: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031114}}
.swiper-container .gallery-top {
  height: 80%;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031119}}
.swiper-container .gallery-thumbs {
  height: 20% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031125}}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.7; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031130}}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1; }

/*Personalizando el selector de fechas*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031139}}
.picker__box {
  border: 5px solid #006AFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031143}}
.picker--focused .picker__day--selected,
.picker__day--selected,
.picker__day--selected:hover {
  background: #006AFF;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031150}}
.picker__day--today:before {
  border-top: .5em solid #ffffff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031154}}
.picker__select--month,
.picker__select--year {
  margin-top: -.5em;
  padding: 0 .5rem;
  border-radius: .5rem; }

/*personalizando el selector de hora*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031163}}
.picker--focused .picker__list-item--selected,
.picker__list-item--selected,
.picker__list-item--selected:hover {
  background: #006AFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031169}}
.picker__list-item--highlighted,
.picker__list-item:hover {
  border-color: #0055cc; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031174}}
.picker__list {
  padding: .5rem 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031178}}
.picker--time .picker__button--clear {
  color: #fff;
  background: #ff520d;
  border-radius: .5rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031185}}
.picker__button--clear:before {
  width: 0;
  border-top: 0px solid #e20;
  display: none; }

/*-----------------------------------------
tab video
------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031195}}
.contenedor-video a {
  background-color: rgba(255, 255, 255, 0.79);
  width: 7rem;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  color: #006AFF;
  font-size: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-clip: padding-box;
  border: 0 solid transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031215}}
.contenedor-video a:hover {
  background-color: #006AFF;
  color: #fff;
  border: 10px solid rgba(255, 255, 255, 0.5); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031221}}
.contenedor-video img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031225}}
.contenedor-video:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

/*Estilos boton menu personalizado*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031235}}
#menu-user .icon-menu-user:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f0c9";
  font-weight: 900;
  color: black;
  font-size: 2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031243}}
#menu-user .icon-close-user:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f00d";
  position: relative;
  font-weight: 900;
  color: black;
  font-size: 2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031253}}
#menu-user button {
  border: 1px solid #F9F9FB;
  outline: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031257}}
#menu-user button::visited {
  border: 1px solid green; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031263}}
#menu-user button.navbar-toogler {
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 50px;
  background-color: #F9F9FB;
  border: none;
  color: #F9F9FB; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031273}}
#menu-user button.navbar-toogler:hover,
#menu-user button.navbar-toogler:visited,
#menu-user button.navbar-toogler:focus {
  border: #F9F9FB;
  outline: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031286}}
div.botones-img {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031291}}
div.botones-img button {
  position: absolute;
  top: 1.5rem;
  left: 16.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031298}}
div.botones-img div.form-check {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 15;
  font-size: 13px;
  font-weight: bold;
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031308}}
div.botones-img div.custom-radio {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 30;
  font-size: 13px;
  font-weight: bold;
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031323}}
.cabezote {
  width: 100%;
  height: 160px;
  background-image: url("../images/parallax_inicio.jpg");
  background-position: center;
  z-index: 10; }

@media (min-width: 576px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031354}}
  section#litle-bar {
    height: 54px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031357}}
  .caja-responsive {
    background-color: red; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031362}}
  div.more-options:before {
    width: 94.5%; } }
@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031374}}
  nav#nav-main .navbar-nav .nav-link::after {
    content: ''; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031378}}
  nav#nav-main .navbar-nav .nav-link {
    padding: .5rem 1rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031382}}
  .caja-responsive {
    background-color: green; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031386}}
  .thre-point {
    left: 85%;
    top: 40%;
    font-size: 2.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031392}}
  .see-more {
    left: 85%;
    top: 46%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031398}}
  .columna-inclinada::before {
    left: -300%;
    right: 0;
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031407}}
  nav#nav-main .nav-link {
    color: white;
    border-radius: .8rem;
    padding: .6rem 1rem;
    font-weight: bold;
    background-color: #006AFF;
    border-color: #006AFF;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin-left: .5rem;
    margin-right: .5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031423}}
  nav#nav-main .nav-link::before {
    content: "";
    z-index: -1;
    width: 0;
    height: 100%;
    background: #006AFF;
    position: absolute;
    top: 0px;
    left: 50%;
    -webkit-transform: skew(45deg, 0);
            transform: skew(45deg, 0);
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031438}}
  nav#nav-main .nav-link:hover {
    background-color: white !important;
    color: white !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031445}}
  nav#nav-main .nav-link:hover::before {
    width: 150%;
    left: -30%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031451}}
  nav#nav-main .nav-link.active {
    color: #006AFF;
    background-color: White;
    border-bottom: 2px solid #006AFF;
    border-top: 2px solid #006AFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031459}}
  #favoritos h5.card-title {
    font-size: 12px !important; } }
@media (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031471}}
  .caja-responsive {
    background-color: blue; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031474}}
  .see-more {
    left: 85%;
    top: 44%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031480}}
  div.more-options:before {
    width: 95.1%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031489}}
  .property-th-list .card {
    width: 540px; } }
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031506}}
  .caja-responsive {
    background-color: aqua; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/laragon\/www\/webvea60\/public\/scss\/estilos\.scss}line{font-family:\000031510}}
  div.more-options:before {
    width: 96.1%; } }

/*# sourceMappingURL=estilos.css.map */